<nav
  id="navbar"
  class="fixed start-0 top-0 z-20 flex w-full justify-center border-b border-gray-200 bg-white/85 backdrop-blur-md md:h-38 dark:border-gray-700 dark:bg-[#1b1f26]">
  <div
    class="mx-auto flex w-[1280px] flex-wrap items-center justify-between place-self-center object-center p-4">
    {{/* Logo */}}
    {{ $logoInfo := .Site.Params.logo }}
    <a
      href="{{ .Site.BaseURL }}"
      class="flex items-center justify-start space-x-3 rtl:space-x-reverse">
      {{ $logoW := $logoInfo.customLogoWidth | default 130 }}
      <p class="dark:text-primary" style="font-size: 1.3rem">
        {{ $logoH := $logoInfo.customLogoHeight | default 56 }}
        {{ if ge $logoH 56 }}
          {{ $logoH = 56 }}
        {{ end }}
<!--        <img-->
<!--          id="logo-light-icon"-->
<!--          src="{{ $logoInfo.img }}"-->
<!--          class="h-[{{ $logoH }}px]"-->
<!--          alt="Logo" />-->
<!--        <img-->
<!--          id="logo-dark-icon"-->
<!--          src="{{ $logoInfo.img_dark }}"-->
<!--          class="hidden h-[{{ $logoH }}px]"-->
<!--          alt="Logo" />-->
        <b>Azr43l</b><span>kn1ght</span>
      </p>

      {{- with $logoInfo.text -}}
        <span
          class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
          >{{ . }}</span
        >
      {{- end -}}
    </a>
<div class="flex flex-col md:flex-row gap-6">
    {{/* Dark or Light mode */}}
    <div class="flex items-center space-x-3 md:order-2 rtl:space-x-reverse">
      {{/* Search icon */}}
      {{ if .Site.Params.enableSearch }}
        <button
          type="button"
          id="search-icon"
          class="bg-primary p-3 text-center text-sm font-medium text-white hover:bg-[#069096] focus:outline-none md:p-5 dark:bg-primary dark:hover:bg-[#069096]">
          <svg
            t="1702210633165"
            class="icon"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="4364"
            width="16"
            height="16">
            <path
              d="M426.666667 768a339.285333 339.285333 0 0 0 208.938666-72.021333l187.562667 187.562666 60.330667-60.330666-187.562667-187.562667A339.285333 339.285333 0 0 0 768 426.666667c0-188.202667-153.130667-341.333333-341.333333-341.333334s-341.333333 153.130667-341.333334 341.333334 153.130667 341.333333 341.333334 341.333333z m0-597.333333c141.184 0 256 114.816 256 256s-114.816 256-256 256-256-114.816-256-256 114.816-256 256-256z"
              fill="#ffffff"
              p-id="4365"></path>
          </svg>
        </button>
      {{ end }}

      {{/* hamburger menu */}}
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex h-10 w-10 items-center justify-center p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none md:hidden dark:text-gray-400 dark:hover:bg-gray-700"
        aria-controls="navbar-sticky"
        aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <span class="flex items-center absolute md:relative top-[50px] md:top-0 right-0 left-0">
      {{/* Menu */}}
      {{- partial "menu.html" . -}}
    </span>
  </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let navbarDom = document.getElementById("navbar");
    let isNavScrolled = false;

    if (window.innerWidth >= 768) {
      navbarDom.classList.add("navbar-init");

      var scrollTop = 0;

      window.addEventListener("scroll", function () {
        scrollTop = window.pageYOffset;

        if (scrollTop >= 10 && !isNavScrolled) {
          isNavScrolled = true;
          navbarDom.classList.add("navbar-scroll");
        } else if (scrollTop < 10 && isNavScrolled) {
          isNavScrolled = false;
          navbarDom.classList.remove("navbar-scroll");
        }
      });
    } else {
      navbarDom.classList.remove("navbar-init");
    }
  });
</script>
