p {
  font-size: larger;
}

h4 {
  font-size: x-large !important;
}

#single-content {
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}

.border-primary {
  border-color: #00adb5;
}

body > code {
  font-size: 12px !important;
}